<div class="col-lg-4 side-bar">
  <div class="row">
    <h4>RTI, Global Health Division</h4>
  </div>
  <div class="row">
    <div id="indicators" hidden>
      <h4>
        <%= link_to "Country Name", "#", id: 'country-link-button' %>
        <% if search_project_name || search_disease_name %>
          /
          <span class="badge">
            <%= search_project_name || search_disease_name %>
            <a href="<%= root_url %>" class = "reset-filters"><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
          </span>
        <% end %>
      </h4>
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th>Indicator Name</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Total Projects</td><td>
              <span id = 'total-projects'></span>
            </td>
          </tr>
          <tr>
            <td> <%= primary_name %></td><td>
              <span id = 'primary-indicator'></span>
            </td>
          </tr>
          <tr>
            <td> <%= secondary_name %></td><td>
              <span id = 'secondary-indicator'></span>
            </td>
          </tr>

        </tbody>
      </table>
    </div>

    <div id="summary">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class='panel-title'>Summary Information For All Projects
          </h3>
        </div>
        <div class="panel-body">
          <strong>Countries with active projects: </strong> <%= @projects.count %>
          <br>
          <strong>Projects By Disease: </strong>
          <ul><% disease_totals.each do |key, value| %>
            <li><strong><%= key %>: </strong> <%= value %></li>
          <% end %></ul>
        </div>
      </div>
    </div>


  </div>
</div>
