<div class="col-lg-4">
  <h4> <%= project.name %> </h4>
  <div class="border-attributes">
    <table class='table borderless'>
      <tr><td colspan="2">Project Lead: <%= project.lead %> </td></tr>
      <tr><td colspan="2">Contact Email: <%= project.contact_email %> </td></tr>
      <tr><td colspan="2">
        Project description: <%= project.description.truncate(275) %>
      </td></tr>
      <tr><td> Funding Start: <%= project.funding_start.try(:strftime, '%m/%d/%Y') %> </td></tr>
      <tr><td> Funding End: <%= project.funding_end.try(:strftime, '%m/%d/%Y') %></td></tr>
      <tr><td> Donor: <%= project.donor %></td></tr>
      <tr><td><%= project.primary_indicator_name %>: <%= project.primary_indicator_value %></td></tr>
      <tr><td><%= project.secondary_indicator_name %>: <%= project.secondary_indicator_value %></td></tr>
    </table>
  </div>
</div>
