<div class="container map-home">
  <div class="col-lg-12">
    <div class="col-lg-8">
      <ol class="breadcrumb">
        <li><a href="<%= root_url %>">Home</a></li>
        <li><a href="<%= country_path(@country.slug) %>"> <%= @country.name %> </a></li>
        <li class="active"><%= @project.name %> </a></li>
      </ol>
      <div class="col-lg-6">
        <div class="row row-map">
          <div class='map-container-2'>
            <div id='map' class="map-canvas">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="well">
          <h4>tools</h4>
          <strong>Add New Data:</strong> <%= link_to "Upload MS Excel file", "#" %> <br>
          <strong>Download project data:</strong> <%= link_to "Download all", "#" %> <br>
          <strong>View USAID Report:</strong> <%= link_to "2013", "#" %>, <%= link_to "2014", "#" %>, <%= link_to "2015", "#" %> <br>
          <strong>PEAR:</strong> <%= link_to "View project analysis report", "#" %> <br>
          <%= link_to "View in Salesforce", "#" %>
        </div>
      </div>
    </div>
    <%= render partial: 'sidebar', locals: {project: @project, country: @country} %>
    <%= render partial: 'indicators', locals: {country: @country, indicators: @project.indicators, project: @project} %>
  </div>
</div>

<script type="text/javascript">
  L.mapbox.accessToken = 'pk.eyJ1IjoiamFyZWRhYmxlcyIsImEiOiJjaWk2Zmt1eXAwMWtvdDBrZjRybmNjdmRqIn0.YRNrryyThhQ5kT69-zkuSw'
  var mapboxTiles = L.tileLayer('https://api.mapbox.com/v4/mapbox.light/{z}/{x}/{y}.png?access_token=' + L.mapbox.accessToken, {
    attribution: '<a href="http://www.mapbox.com/about/maps/" target="_blank">Terms &amp; Feedback</a>'
  });
  var map = L.map('map')
    .addLayer(mapboxTiles)
    .setView([5.0089434, 25.850055], 3);
  country = $.parseJSON("<%= escape_javascript(@country_geometry.html_safe)%>");


  //non-highlighted style
  var defaultStyle = {
    fillColor: '#006600',
    weight: .5,
    opacity: .7,
    color: 'black',
    dashArray: '3',
    fillOpacity: 0.4
  };

  var highlightStyle = {
    fillColor: '#15f615',
    weight: .5,
    opacity: .7,
    color: 'black',
    dashArray: '3',
    fillOpacity: 0.4
  };



  var onEachFeature = function(feature, layer) {
    // A function that will set up a bunch of options for each layer we create
    layer.setStyle(defaultStyle);
    layer.on({
      mouseover: highlightFeature,
      mouseout: resetHighlight,
      click: updateIndicators
    });
  };

  // for the current country passed, set up the geometry and give the layer necessary properties
  countryPolygon = L.geoJson($.parseJSON(country.geometry), {
    onEachFeature: onEachFeature,
    countryId: country.properties.id,
    countryName: country.properties.name,
    countryIndicators: country.properties.country_indicators,
  }).addTo(map);

  // set map bounds to the current country
  map.fitBounds(countryPolygon.getBounds())


  function highlightFeature(e) {
    var layer = e.target;
    layer.setStyle(highlightStyle);
    // so the border doesn't clash with adjacent borders
    if (!L.Browser.ie && !L.Browser.opera) {
        layer.bringToFront();
    }
  }

  //un-highlight
  function resetHighlight(e) {
    var layer = e.target;
    layer.setStyle(defaultStyle);
  }

  //zoom to country
  function zoomToFeature(e) {
    map.fitBounds(e.target.getBounds());
  }

  // update indicators table and slideDown if hidden
  function updateIndicators(e){
    options = e.target.options;
    countryIndicators = options.countryIndicators;
    name = options.countryName;
    id = options.countryId;
    root = options.rootUrl
    $('#total-projects').text(countryIndicators.total_projects);
    $('#total-funding').text(countryIndicators.total_funding);
    $('#total-treated').text(countryIndicators.total_treated);
    $('#total-trained').text(countryIndicators.total_trained);
    $('#project-name').text(options.countryName);
    $("#project-link-button").attr("href", (root + 'countries/' + id));
    if ($('#indicators').not(':visible')){
      $('#indicators').slideDown( "slow" );
    }
  }
  //////////////////////////////////////////
  $(function() {
    $('input[name="date_range"]').daterangepicker();
  });

</script>
