<div class="col-lg-4 side-bar-scroll">
  <h3>Active Projects
    <% if search_project_name || search_disease_name %>
      /
      <span class="badge">
        <%= search_project_name || search_disease_name %>
        <a href="<%= country_url(country.slug) %>" class = "reset-filters"><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
      </span>
    <% end %>
  </h3>
  <div class="scroll-border">
    <% projects.each do |project| %>
      <h4> <%= link_to project.name, project_path(country_id: country.slug, project_id: project.slug) %></a> </h4>
      <table class='table borderless'>
        <tr><td colspan="2">Project Lead: <%= project.lead %> </td></tr>
        <tr><td colspan="2">Contact Email: <%= project.contact_email %> </td></tr>
        <tr><td colspan="2">
          Project description: <%= project.description.truncate(275) %>
          <%= link_to('(more)', project_path(country_id: country.slug, project_id: project.slug)) if project.description.length > 275 %>
        </td></tr>
        <tr><td> Funding Range: <%= project.funding_start.try(:strftime, '%m/%d/%Y') %> -  <%= project.funding_end.try(:strftime, '%m/%d/%Y') %></td></tr>
        <tr><td> Donor: <%= project.donor %></td></tr>
        <tr><td><%= project.primary_indicator_name %>: <%= project.primary_indicator_value %></td></tr>
        <tr><td><%= project.secondary_indicator_name %>: <%= project.secondary_indicator_value %></td></tr>
      </table>
      <hr>
    <% end %>
  </div>
</div>
