<div class="container">
  <h1>Indicator List</h1>

  <table class='table table-striped'>
    <thead>
      <tr>
        <th>Indicator Name</th>
        <th>Last Updated</th>
        <th>Indicator Value</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @indicators.each do |indicator| %>
        <tr>
          <td> <%= indicator.indicator_name %></td>
          <td> <%= indicator.updated_at %></td>
          <td> <%= indicator.indicator_value %></td>
          <td>
            <%= link_to 'Edit', edit_admin_project_indicator_path(@project.slug, indicator.id), class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Destroy', "indicators/#{indicator.id}", class: 'btn btn-primary btn-sm', method: :delete, data: { confirm: 'Are you sure?'}%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Indicator', new_admin_project_indicator_path(@project.slug), class: 'btn btn-primary' %>
</div>
