<div class="right-hand-nav-links">
  <div class="dropdown-floated">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <%= image_tag 'ic_settings_black_24px.svg', width: '30', 'data-placement' => 'left', "data-toggle" => "tooltip", "title" => "Admin Options" %>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">

      <li><%= link_to "Home", root_path %></li>
      <li role="separator" class="divider"></li>

    <% if current_user.try(:admin) %>
      <%= render 'layouts/admin_links' %>
    <% else %>
      <li><%= link_to "Admin Login", new_user_session_path %></li>
    <% end %>
    <% if current_user %>
      <li><%= link_to "Log Out", destroy_user_session_path %></li>
    <% end %>

    </ul>
  </div>
</div>
